version: '3.8'
services:
  # app:
  #   container_name: OrdersMicroservice
  #   build:
  #     context: .
  #   restart: always
  #   ports:
  #     - 3000:3000
  mongodb:
    image: mongo:latest
    environment:
      - MONGODB_DATABASE= "orders"
    volumes:
      - ./mongo:/data/db
    networks:
      - poc
    ports:
      - 27017:27017

networks:
  poc:  